<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Detail Product</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Detail Product</h1>
		<br>
		<p th:text="'id= ' + ${product.id}" />
		<p th:text="'name= ' + ${product.name}" />
		<p th:text="'quantity= ' + ${product.quantity}" />			
	</div>
</body>
</html>