<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Produk</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Daftar produk</h1>		
		<table class="table table-striped">
  			<thead>
		      <tr>
		        <th>Id</th>
		        <th>Nama Produk</th>
		        <th>Stok</th>
		        <th></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="prod : ${list}">
		        <td th:text="${prod.id}"></td>
		        <td th:text="${prod.name}"></td>
		        <td th:text="${prod.quantity}"></td>
		        <td><a th:href="@{'/product/' + ${prod.id}}">view</a></td>		        		        
		      </tr>
		      
		    </tbody>
		</table>
	</div>
</body>
</html>