<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Produk</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Penyimpanan Data</h1>
		<br>
		<p th:text="'Produk telah disimpan dengan id= ' + ${productid}" />
		<p th:text="'test1= ' + ${test1}" />		
	</div>
</body>
</html>